* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 10px;
}

body {
    background-color: #D5CEA3;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 2;
    background-color:#3C2A21;
    color: #ffd996;
    /* border: 0.1rem solid white; */
}

.main1 .main1span {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5rem;
    /* border: 0.1rem solid white; */
}

@media (max-width: 576px) and (min-width: 480px) {
    .main1 .main1span {
        column-gap: 1rem;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .main1 .main1span {
        column-gap: 0.5rem;
    }
}

.main1 .main1span .mugicon i {
    font-size: 5.5rem;
    margin-top: -0.8rem;
    /* border: 0.1rem solid white; */
}

@media (max-width: 768px) and (min-width: 576px) {
    .main1 .main1span .mugicon i {
        font-size: 4.5rem;
        margin-top: -0.5rem;
    }
}

@media (max-width: 576px) and (min-width: 480px) {
    .main1 .main1span .mugicon i {
        font-size: 3rem;
        margin-top: 0rem;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .main1 .main1span .mugicon i {
        font-size: 3rem;
        margin-top: 0rem;
    }
}

.main1 .main1span .main1head1 {
    font-size: 7rem;
    font-family: 'Slabo', serif;
    /* border: 0.1rem solid white; */
}

@media (max-width: 768px) and (min-width: 576px) {
    .main1 .main1span .main1head1 {
        font-size: 6rem;
    }
}

@media (max-width: 576px) and (min-width: 480px) {
    .main1 .main1span .main1head1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .main1 .main1span .main1head1 {
        font-size: 3.3rem;
        margin-top: 1rem;
    }
}

.main1 .main1head2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    /* border: 0.1rem solid white; */
}

@media (max-width: 576px) and (min-width: 480px) {
    .main1 .main1head2 {
    font-size: 2rem;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .main1 .main1head2 {
    font-size: 1.8rem;
    }
}

.main2 {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 50%;
    right: 0%;
    z-index: 1;
    row-gap: 1rem;
    margin-top: -3rem;
}

.main2 .headphoneicon
{
    background-color: #D67D3E;
    border-radius: 50%;
    cursor: pointer;
    padding: 1rem;
}

@media (max-width: 576px) and (min-width: 0px) {
    .main2 .headphoneicon {
        opacity: 0.6;
    }
}

.main2 .headphoneicon i {
    font-size: 5rem;
}

@media (max-width: 576px) and (min-width: 0px) {
    .main2 .headphoneicon i {
        font-size: 3rem;
    }
}

.main3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    /* border: 0.1rem solid black; */
}

.main3 .main3head1 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

@media (max-width: 768px) and (min-width: 576px) {
    .main3 .main3head1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 576px) and (min-width: 480px) {
    .main3 .main3head1 {
        font-size: 3rem;
    }
}

.main3 .main3head1 b {
    font-size: 4rem;
    color: #3C2A21;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

@media (max-width: 768px) and (min-width: 576px) {
    .main3 .main3head1 b {
        font-size: 3.5rem;
    }
}

@media (max-width: 576px) and (min-width: 480px) {
    .main3 .main3head1 b {
        font-size: 3rem;
    }
}

.main3 .main3head2 {
    font-size: 4rem;
    color: #3C2A21;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 768px) and (min-width: 576px) {
    .main3 .main3head2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 576px) and (min-width: 480px) {
    .main3 .main3head2 {
        font-size: 3rem;
    }
}

.main3 .main3para1 {
    border: 0.4rem solid #D67D3E;
    border-radius: 1.5rem;
    width: 60rem;
    padding: 2rem;
    font-size: 2.5rem;
    text-align: justify;
    margin-top: 4.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 768px) and (min-width: 480px) {
    .main3 .main3para1 {
        width: 40rem;
        font-size: 2rem;
        margin-top: 2.5rem;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .main3 .main3para1 {
        width: 28rem;
        font-size: 1.8rem;
        margin-top: 2.5rem;
    }
}

.main4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* border: 0.1rem solid black; */
}

.main4 .main4sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

.main4 .main4sub h1 {
    color:#3C2A21;
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
}

.main4 .main4sub p {
    min-width: 40rem;
    width: 70vw;
    font-size: 2rem;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 480px) and (min-width: 0px) {
    .main4 .main4sub p {
        min-width: 28rem;
    }
}

.main4 .main4sub ul li {
    min-width: 35rem;
    width: 60vw;
}

@media (max-width: 480px) and (min-width: 0px) {
    .main4 .main4sub ul li {
        min-width: 25rem;
    }
}

.main4 .main4sub ul li b {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.main4 .main4sub ul li {
    text-align: justify;
    padding-top: 2rem;
    padding-bottom: 2rem;
    list-style-type: disc;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.main5 {
    /* border: 0.1rem solid black; */
    padding-bottom: 2rem;
}

.main5sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6rem;
}

.main5 h1 {
    display: flex;
    justify-content: center;
    color:#3C2A21;
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
}

.main5 .main5sub .main5subpart1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    row-gap: 2rem;
    column-gap: 3rem;
    text-align: justify;
    /* border: 0.1rem solid black; */
}

.main5 .main5sub .main5subpart1 .mainimg1 {
    width: 30rem;
    border: 0.1rem solid black;
}

@media (max-width: 480px) and (min-width: 0px) {
    .main5 .main5sub .main5subpart1 .mainimg1 {
        width: 26rem;
    }
}

.main5 .main5sub .main5subpart1 .brandpara1 {
    width: 30rem;
    font-family: 'Roboto', sans-serif;
    /* border: 0.1rem solid black; */
}

@media (max-width: 480px) and (min-width: 0px) {
    .main5 .main5sub .main5subpart1 .brandpara1 {
        width: 26rem;
    }
}

.main5 .main5sub .main5subpart1 .brandpara1 h2 {
    font-size: 3.5rem;
}

.main5 .main5sub .main5subpart1 .brandpara1 p {
    line-height: 3rem;
    font-size: 2.0rem;
}

.main5 .main5sub .main5subpart1 .mainimg2 {
    width: 30rem;
    /* border: 0.1rem solid black; */
}

@media (max-width: 480px) and (min-width: 0px) {
    .main5 .main5sub .main5subpart1 .mainimg2 {
        width: 26rem;
    }
}

.main5 .main5sub .main5subpart1 .brandpara2 {
    width: 30rem;
    font-family: 'Roboto', sans-serif;
    /* border: 0.1rem solid black; */
}

@media (max-width: 480px) and (min-width: 0px) {
    .main5 .main5sub .main5subpart1 .brandpara2 {
        width: 26rem;
    }
}

.main5 .main5sub .main5subpart1 .brandpara2 h2 {
    font-size: 3.5rem;
}

.main5 .main5sub .main5subpart1 .brandpara2 p {
    line-height: 3rem;
    font-size: 2.0rem;
}

.main5 .main5sub .main5subpart1 .mainimg3 {
    width: 30rem;
    /* border: 0.1rem solid black; */
}

@media (max-width: 480px) and (min-width: 0px) {
    .main5 .main5sub .main5subpart1 .mainimg3 {
        width: 26rem;
    }
}

.main5 .main5sub .main5subpart1 .brandpara3 {
    width: 30rem;
    font-family: 'Roboto', sans-serif;
    /* border: 0.1rem solid black; */
}

@media (max-width: 480px) and (min-width: 0px) {
    .main5 .main5sub .main5subpart1 .brandpara3 {
        width: 26rem;
    }
}

.main5 .main5sub .main5subpart1 .brandpara3 h2 {
    font-size: 3.5rem;
}

.main5 .main5sub .main5subpart1 .brandpara3 p {
    line-height: 3rem;
    font-size: 2.0rem;
}

.main5 .main5sub .main5subpart1 .brandimg {
    width: 30rem;
    height: 30rem;
}

@media (max-width: 480px) and (min-width: 0px) {
    .main5 .main5sub .main5subpart1 .brandimg {
        width: 26rem;
        height: 26rem;
    }
}

.main6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 4rem;
    /* border: 0.1rem solid black; */
}

.main6 h1 {
    display: flex;
    justify-content: center;
    color:#3C2A21;
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
}

.main6 .main6sub {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    row-gap: 3rem;
    column-gap: 3rem;
}

.main6 .main6sub .galleryimg {
    width: 38rem;
    height: 42rem;
    transition: 0.25s ease-in-out;
}

@media (max-width: 480px) and (min-width: 0px) {
    .main6 .main6sub .galleryimg {
        width: 26rem;
        height: 29rem;
    }
}

.main6 .main6sub .galleryimg:hover {
    transform: scale(1.05);
}

.main7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#5e3b00;
    color: white;
    padding: 2rem;
    padding-bottom: 5rem;
    /* border: 0.1rem solid white; */
}

.main7 h3 {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 3rem;
}

.main7 .main7sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #BA704F;
    border: 0.5rem solid #3C2A21;
    border-radius: 5rem;
    width: 90vw;
    row-gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .main7 .main7sub {
        width: 70rem;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .main7 .main7sub .name {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}

.main7 .main7sub .name .namelabel {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: black;
    font-weight: 600;
}

.main7 .main7sub .name .nameinput {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    border-radius: 1rem;
    width: 25rem;
    height: 3.5rem;
    padding-left: 1.2rem;
}

@media screen and (min-width: 768px) {
    .main7 .main7sub .name .nameinput {
        width: 40rem;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .main7 .main7sub .email {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}

.main7 .main7sub .email .emaillabel {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: black;
    font-weight: 600;
}

.main7 .main7sub .email .emailinput {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    border-radius: 1rem;
    width: 25rem;
    height: 3.5rem;
    padding-left: 1.2rem;
}

@media screen and (min-width: 768px) {
    .main7 .main7sub .email .emailinput {
        width: 40rem;
    }
}

.main7 .main7sub .query {
    display: flex;
}

@media (max-width: 480px) and (min-width: 0px) {
    .main7 .main7sub .query {
        flex-direction: column;
        row-gap: 0.5rem;
    }
}

.main7 .main7sub .query .querylabel {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: black;
    font-weight: 600;
}

.main7 .main7sub .query .querytextarea {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    border-radius: 1rem;
    width: 25rem;
    height: 10rem;
    padding-top: 0.5rem;
    padding-left: 1.2rem;
}

@media screen and (min-width: 768px) {
    .main7 .main7sub .query .querytextarea {
        width: 40rem;
    }
}

.main7 .main7sub .button .buttonpart {
    font-family: 'Roboto', sans-serif;
    border-radius: 1rem;
    font-size: 2rem;
    width: 10rem;
    height: 3.5rem;
    font-weight: 600;
    box-shadow: 0rem 0.5rem 0rem 0.15rem black;
}

.main7 .main7sub .button .buttonpart:active {
    box-shadow: 0rem 0.2rem 0rem 0.1rem black;
}

.main8 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color:#3C2A21;
    text-align: center;
    color: #ffd996;
    /* border: 0.1rem solid white; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 100%;
}

.main8 .mugicon2 {
    font-family: 'Roboto', sans-serif;
    /* border: 0.1rem solid white; */
    width: 35rem;
    height: 25rem;
}

.main8 .mugicon2 i {
    font-size: 25rem;
}

.main8 .reachus {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35rem;
    height: 30rem;
    row-gap: 1.5rem;
    /* border: 0.1rem solid white; */
}

.main8 .reachus h4 {
    color: #ffd996;
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
}

.main8 .reachus .link1 {
    display: flex;
    justify-content: center;
    color: #ffd996;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-underline-offset: 1rem;
    /* border: 0.1rem solid white; */
}

.main8 .reachus .link1:hover {
    color: #D67D3E;
}

.main8 .reachus h5
{
    color: #ffd996;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.main8 .address {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 0.1rem solid white; */
    width: 35rem;
    height: 25rem;
}

.main8 .address h6
{
    font-size: 3.5rem;
    color: #ffd996;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1.5rem;
    text-align: center;
}

.main8 .address .para
{
    font-size: 2.5rem;
    color: #ffd996;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 4.5rem;
    width: 30rem;
}

@media (max-width: 480px) and (min-width: 0px) {
    .main8 .address .para{
        width: 28rem;
    }
}

.main8 .address a
{
    display: flex;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    color: #ffd996;
    line-height: 4.5rem;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
}

.main8 .address a:hover {
    color: #D67D3E;
}